.container{
    padding-right: 150px;
}


#border{
    border-right: 2px solid black;
    min-height: 200vh;
    margin-top: 100px;
    margin-right: 100px;
}



#menu{
    position: fixed;
    display: inline-block;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: white;
    margin-top: 100px;
    right: 35px;
    top: 0;
    overflow: hidden;
}

#inMenu{
    position: fixed;
    display: flex;
    height: 100px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 600;
    font-size: 19px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 50px;
    margin-top: 115px;
}

#menuText{
    letter-spacing: -13px;
}

#menuText:hover{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -15px;
    color: #0a53be;
}



#firstPartName{
    display: inline-block;
    border-bottom: 4px black solid;
    padding: 8vw 0vw 3vw 6vw;
}

#dividerLine{
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: inline;
    border-left: 4px black solid;
}

#secondPartName{
    display: inline;
    border-top: 4px black solid;
    padding: 3vw 4vw 6vw 2vw;
}

#bartlomiej{
    margin-left: 5vw;
}

#bart{
    border-bottom: red dashed 2px;
}

#sokol{
    display: inline;
    padding-left: 15vw;
    border-bottom: 4px solid black;
    padding-right: 2vw;
    padding-bottom: 1vw;
}


.pie-4 > div{
    display: inline-block;
    width: 65px;
    height: 65px;
    &:nth-child(1) {
        background: white;
    }
    &:nth-child(2) {
        background: black;
    }
    &:nth-child(3) {
        background: black;
    }
     &:nth-child(4) {
        background: white;
    }
}

@keyframes rollMe {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

@keyframes biggerTextMenu {
    100% {
        font-size: 22px;
        font-weight: 700;
    }

}