
.container{
    min-height: 100vh;
    margin-left: 6vw;
    margin-right: 0;
    padding-right: 150px
;
}

.colorRed{
    color: red;
}

#border{
    border-right: 2px solid black;
    margin-top: 100px;
    margin-right: 100px;
}



#menu{
    position: fixed;
    display: inline-block;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: white;
    margin-top: 100px;
    right: 35px;
    top: 0;
    overflow: hidden;
}

#inMenu{
    position: fixed;
    display: flex;
    height: 100px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 600;
    font-size: 19px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 50px;
    margin-top: 115px;
}

#menuText{
    letter-spacing: -13px;
}

#menuText:hover{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -15px;
    color: #0a53be;
}



#firstPartName{
    display: inline-block;
    border-bottom: 3px black solid;
    padding: 8vw 0 3vw 6vw;
    animation: transferLinesLeft 2.5s ease-out;
}

#dividerLine{
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: inline-block;
    border-right:  #dc3545 3px solid;
    animation: transferLinesTop 1.5s ease-out;


}

#secondPartName{
    display: inline-block;
    border-top: 3px black solid;
    padding: 2vw 0 0 4vh;
    min-width: 32vw;
    max-width: 32vw;
    animation: transferLinesRight 2.5s ease-out;
}


#bartlomiej{
    margin-left: 5vw;
}

#bart{
    border-bottom: #dc3545 dashed 2px;
}

#sokol{
    display: inline-block;
    padding-left: 15vw;
    border-bottom: 3px solid black;
    padding-right: 3vw;
    padding-bottom: 1vw;
}



.aboutMe{
    display: inline;
    border-bottom: 2px solid #dc3545;
    padding-right: 1vw;
    text-shadow: -2px 2px 2px gray;
}

#aboutMeSmallText{
    border-left: 2px solid #dc3545;
}

#aboutMeSmallTextRight{

    border-right: 2px solid #dc3545;
}

.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(65% 5%);
}

.autoShowStack{
    animation: autoShowAnimationStack both;
    animation-timeline: view(-40% 30%);
}

.autoShowStackRight{
    animation: autoShowAnimationStackRight both;
    animation-timeline: view(-80% 30%);
}

.otherAnimation{
    animation: transferLinesRightText 3s ease-out infinite;
}

.pie-4 > div{
    display: inline-block;
    width: 65px;
    height: 65px;
    &:nth-child(1) {
        background: white;
    }
    &:nth-child(2) {
        background: black;
    }
    &:nth-child(3) {
        background: black;
    }
     &:nth-child(4) {
        background: white;
    }
}

@keyframes autoShowAnimationStack {
    0%{

        transform: translateY(0) translateX(80%);
    }
    30%{
        transform: translateX(0);
    }
    85% { opacity: 1;

    }
    100%{
          transform: translateY(55vh);
        opacity: 0;
      }
}

@keyframes autoShowAnimationStackRight {
    0%{
        transform: translateY(0) translateX(-75%);
    }
    30%{
        transform: translateX(0);
    }
    85% { opacity: 1;
    }
    100%{
        transform: translateY(95vh);
        opacity: 0;
    }
}

@keyframes autoShowAnimation {
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    } to {
    opacity: 1;
    transform: translateY(0) scale(1);
          }
}

@keyframes rollMe {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

@keyframes biggerTextMenu {
    100% {
        font-size: 22px;
        font-weight: 700;
    }

}

@keyframes transferLinesLeft {
    0%{
        transform: translate(-100vw);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 100%;
    }
}

@keyframes transferLinesRight {
    0%{
        transform: translate(100vw);
        );
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 100%;
    }
}

@keyframes transferLinesTop{
    0%{
        transform: rotateZ(90deg) scale(3);
    }
    75%{
        transform: rotateZ(90deg) scale(1);
    }
    100%{
        transform: rotateZ(0);
    }
}
@keyframes transferLinesRightText {
    0%{
        transform: translateY(-4vh);
        opacity: 0;
    }
    50%{
        opacity: 80%;
    }
    100%{
        transform: translateY(0);
        opacity: 100%;
    }
}

@media (max-width: 996px) {
    .autoShowStack, .autoShowStackRight{
     animation: none;
    }
}
