<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Bartlomiej Sokol</title>
</head>
<body>


    <div id="border">
    </div>
    <div  class="pie-4" id="menu">

        <div></div><div></div><div></div><div></div>

    </div>
 <div id="inMenu">
            <p>menu</p>
    </div>

<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>