<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Bartlomiej Sokol</title>
</head>
<body>


<div id="border">
    <div class="container">
        <div id="firstPartName">
      <h2>Hello, I'm</h2>
            <div id="bartlomiej">
                <h1 class='d-inline text-danger' id="bart">Bart</h1>
                <h1 class="d-inline">lomiej</h1>
            </div>
        <h1 id="sokol">Sokol</h1>
        </div>
        <div id="dividerLine"></div>
        <div class="d-inline" id="secondPartName">
        <h2 class="d-inline">Full stack web&nbsp;</h2>
        <h2 class="text-danger d-inline">dev</h2>
        <h2 class="d-inline">eloper</h2>
        </div>
    </div>

</div>

<div  class="pie-4" id="menu">
    <div></div><div></div><div></div><div></div>
</div>

 <div id="inMenu">
     <p id="menuText">menu</p>

 </div>



<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>